body{
    margin: 0;
    background-image: url("./images/batBg.avif");
}
.container{
    margin-top: 4rem;
display: flex;
flex-direction: column;
width: 100%;
}

.container .maincard{
    background-color: rgb(240, 240, 240);
    height: 300px;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
    border: 2px groove black;
   
}
.container .secondarycards{
display: flex;  
justify-content: space-around;
height: 300px;
margin-top: 2rem;
}
.card{
    background-size: cover;
    width:25%;
    border-radius: 10px;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
}