body {
    background-color: rgb(179, 157, 128)
}

.main {
    @include dflex(row, space-around, flex-start, wrap);
    margin: 30px auto;
    width: 80%;



    .container {
        @include dflex(row, flex-end, flex-start, wrap);
        max-width: 1431px;
        width: 80%;
        gap: 15px;


        &__card {
            border-radius: 4px;
            overflow: hidden;
            width: 150px;
            position: relative;
            top: 0;
            box-shadow: 2px 4px 8px 3px rgb(15, 15, 15);

            &__cover {

                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                display: none;
                transition: .4s;

                &__plus {
                    font-size: 1.3rem;
                    height: 24px;
                    width: 24px;
                    font-weight: 655;
                    color: rgb(231, 231, 231);
                    transition: .2s;
                }

                &__plus:hover {
                    font-size: 1.6rem;
                    font-weight: 700;
                    color: yellow;
                    transition: .1s;
                }

            }

            img {
                width: 100%;
                height: 250px;
                border-radius: 4px;
            }
        }

        &__card:hover .container__card__cover {
            @font-face {
                font-family: font1;
                src: url("../../fonts/kharazami.woff");
            }

            color: azure;
            text-align: center;
            display: flex;
            backdrop-filter: brightness(20%);
            flex-direction: column;
            justify-content: center;
            align-items:center;
            font-weight: 600;
            font-family: font1;
            cursor: pointer;
            transition: .4s;
        }

    }

    .favContainer {
        @media(min-width: 768px) {
            width: 40%;
            gap: 20px;
        }

        @include dflex(column, center, center, wrap);
        width: 90%;
        margin: 50px auto;
        gap: 20px;

        &__card {
            @media(min-width: 768px) {
                @include dflex(row, flex-start, center, wrap);
            }

            overflow: hidden;
            width: 100%;
            border-radius: 5px;
            @include dflex(column, flex-start, center, wrap);
            background-color: #cac39dd6;
            box-shadow: 1px 4px 12px 2px rgb(15, 15, 15);

            img {
                @media(min-width:768px) {
                    height: 200px;
                    width: 150px;
                }

                width: 100%;
                height: 400px;
            }

            &__detail {
                @media(min-width: 768px) {}

                @include dflex(column, flex-end, center, wrap);
                flex: 2;
            }
        }
    }
}